
.app-container {
    position: relative;
    top: 80px;
    background-color: rgb(45, 61, 76);
    width: fit-content;
    display: flex;
    margin: 10px auto;
    border-radius: 5px;
    flex-direction: row;
    text-decoration: none;
    color: white;
    justify-content: center;
}
.app-navigation {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}
.option-container {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    text-decoration: none;
    color: white;
}
.app-navigation:hover, .app-navigation.active {
    color: black;
    background-color: rgb(139, 139, 139);
}


