.home-internal-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    background-image: url('../images/Home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    align-items: center;
}



.message{
    margin-right: 80px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;

}
.message .h1-tag{
    font-weight: bold;
    font-size: 50px;
    color: #397680;


}

.message .h2-tag{
    font-weight: bold;
    font-size: 60px;
    font-style: italic;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
}