.Maincontainer {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: hsla(18, 62%, 41%, 0.911);
  border-radius: 10px;
  box-shadow: 0px 0px 10px #00000087; /* Add a subtle shadow effect */
  
}

.Maincontainer-h1 {
  text-align: center;
  color: rgb(1, 9, 16);
  font-weight: bolder;
}

.Maincontainer-p {
  margin-top: 20px;
  text-align: center;
  font-weight: 100;
  color: #615e5e;
}
.containerr{
   margin-top:50px;
}
.form {
  margin-top: 30px;
}

.Mainlabel {
  display: block;
  margin-bottom: 10px;
  color: rgb(45, 61, 76);
}

.Maininput,
.Mainselect {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Include padding in width calculation */
}

/* Style for select dropdown */
.Mainselect {
  background-color: hsl(180, 88%, 17%);
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.Mainbutton {
  width: 100%;
  padding: 10px;
  background-color: rgb(45, 61, 76);
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s; /* Add a smooth transition for background color change */
}

.Mainbutton:hover,
.Mainbutton:active {
  background-color: rgb(139, 139, 139);
}
.loginn{
  min-height: 50px;
}