.containermed {
    width: 100vw;
    background: white;
  }
  
  .newcollection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .medicationstore {
    margin-top: 70px;
    font-size: 36px;
    font-weight: 700;
  }
  
  .medhr {
    height: 5px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Medication-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  video {
    width: 100%;
    height: 80vh;
    margin-left: 30px;
    margin-top: 40px;
  }
  
  .p {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    font-family: serif;
    color: #177ee1;
    max-width: 60vw;
  }
  
  .showbtn {
    width: 200px;
    height: 50px;
    border-radius: 3px;
    background-color: #ff4141;
    font-size: 18px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0 100px -60px;
    outline: none;
    border: none;
  }
  