.container {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  font-family: "Courier New", Courier, monospace;
}

.container h1 {
  text-align: center;
  color: rgb(45, 61, 76);
  font-weight: bolder;
}

.container p {
  margin-top: 20px;
  text-align: center;
  font-weight: 100;
  color: #615e5e;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: rgb(45, 61, 76);
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
}

select {
  background-color: #fff;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgb(45, 61, 76);
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover,
button:active {
  background-color: rgb(139, 139, 139);
}
